WEB3_INFURA_PROJECT_ID='api key for infura'
ACCOUNT_PRIVATE_KEY='private key for the account that deployed the instances'
ACCOUNT_PASSWORD='account password you set when you added the account to brownie'
ACCOUNT_PASSWORD2='account password you set when you added the 2nd account to brownie'
ETHERSCAN_API_KEY='your etherscan api key if you need to pull data from the blockchain'
